.task-block {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 98%;
	margin: 2px;
	position: relative;
}
.task {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 95%;
	margin: 1px;
	position: relative;
}
